.select {
    background: rgba(255, 255, 255, 0.03);
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
}

.select:hover {
    cursor: pointer;
}

.select:focus {
    outline: none;
}