.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.input-title {
    border: none;
    background: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Inter", sans-serif;  line-height: 1.5;
    border-bottom: 1px solid #323232;
    width: 100%;
    transition: border-bottom 0.2s;
}

input:focus, textarea:focus {
    outline: none;
    border-width: 3px;
    transition: border-bottom 0.2s;

}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;

}

.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.5;
    border-bottom: 1px solid #323232;
    width: 100%;
}

.invalid {
    border-bottom: 1px solid rgb(210, 0, 0);
    transition: border-bottom 0.2s;
}